* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: sans-serif;
}

body {
	background-color: #F2E9E9;
	color: #262525;
}

#content-container {
	padding: 1em;
	overflow: auto;
}

#content-header {
	margin-bottom: 1em;
	overflow: auto;
}

#content-body {
	padding-bottom: 45px;
	overflow: auto;
	clear: both;
}

#content-footer {
	width: 100%;
	height: 30px;
	position: fixed;
	left: 0;
	bottom: 0;
	-moz-box-shadow: 5px 0px 0px 0px #262525;
	-webkit-box-shadow: 5px 0px 0px 0px #262525;
	box-shadow: 5px 0px 0px 0px #262525;
}

#left-sidebar, #right-sidebar {
	width: 20%;
}

#main-content {
	margin: 0 auto;
	width: 55%;
	padding: 5px;
	float: none;
}

#main-content p {
	margin-bottom: .75em;
	line-height: 1.25em;
	text-align: justify;
}

#main-content h2 {
	font-size: 1.75em;
	font-weight: 300;
}




#post-navigation li, #external-links li {
	font-weight: 300;
}

#external-links li {
	font-size: 1.25em;
	margin-bottom: .25em;
}

h1 {
	margin-bottom: 5px;
	font-size: 2.5em;
	font-weight: 300;
}

a {
	color: rgb(149, 55, 63);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	height: 3px;
	background-color: #262525;
	margin-top: .5em;
	margin-bottom: .5em;
}

div > h3 {
	margin-bottom: .75em;
	font-size: 1.5em;
	text-align: center;
	font-weight: 300;
}

.navigation-menu {
	list-style: none;
}

.horizontal-list li {
	float: left;
	margin-left: .75em;
}

.vertical-list li {
	margin-bottom: .5em;
}

.byline {
	margin-left: 1em;
	font-size: .8em;
}

.post-url {
	margin-left: .5em;
	font-size: 1.25em;
}

.post-date {
	margin-left: 1.25em;
	font-size: .8em;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}