<p>As I mentioned before my name is Charles and I live in the Capital Region of New York State.  I moved
to the area in the summer of 2009, after having spent over 15 years in Alabama.  I was drawn to the area
by a job with the <a href="http://www.newsketemonks.com/">Monks of New Skete</a> and my beautiful fiancee,
Dyana.  I'm currently attending college and eagerly await entry into the professional web development
industry after graduation.</p>

<p>When I'm not at school, doing school-work or spending time with Dyana I am normally working on
<a href="http://www.github.com/cspray/SprayFire/">SprayFire</a>, a PHP 5.3+ framework, or I am answering 
questions at <a href="http://www.stackoverflow.com/">stackoverflow.com</a>.  Indeed, the majority of
the time that I'm active at stackoverflow you can find me in the <a href="http://chat.stackoverflow.com/rooms/11/php">
PHP chat room</a> there.  I enjoy listening to all kinds of music and practice amateur dog-training
as a non-development hobby.</p>