<div>
				        <h3>places you can find me and my work</h3>
    					<ul class="navigation-menu vertical-list">
    					   	<li>
   	        				    <a href="http://stackexchange.com/users/387580">
			    				    <img src="http://stackexchange.com/users/flair/387580.png" width="208" height="58" alt="Charles Sprayberry's profile on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="Profile for Charles Sprayberry on Stack Exchange, a network of free, community-driven Q&amp;A sites">
				    			</a>
					    	</li>
   	    	    			<li>
   		        			    <a href="http://github.com/cspray/SprayFire">
       		        				<img src="/img/sprayfire_logo_bar.png" width="155" height="58" alt="SprayFire PHP framework developed and created by Charles Sprayberry.  Logo drawn by Dyana Stewart." title="SprayFire PHP framework developed and created by Charles Sprayberry.  Logo drawn by Dyana Stewart." />
       		        			</a>
   	    			    	</li>
   	    			    	<li>
   	    			    	
   	    			    	</li>
       		    		</ul>
                    </div>
