{% if page.title != 'home' %}
<div id="content-disclaimer">
    <h4>comment status</h4>
    {% if page.dysqus_enabled == true %}
        <p class="comment-status-enabled">enabled</p>
        <p>While I do not believe in censorship there are certain words that I consider inflammatory,
            and serve no purpose in rational, logical discourse.  These words are not allowed.  While I
            imagine the readers of this site to be a mature audience I also expect those readers to keep
            things at a PG-13 or "mild R" rating.</p>
    {% else %}
        <p class="comment-status-disabled">disabled</p>
        <p>Comments have been disabled for some personal reason.  If you feel that comments should be opened
        on this post please <a href="http://www.github.com/cspray/cspray.github.com/issues">raise an issue at
        this site's repository</a>.</p>
    {% endif %}
</div>
{% endif %}
