<p>The thoughts and opinions on this blog are <b>my own</b> and not the opinions of any employer or
organization.  In no way am I responsible for consequences that may occur as a result of utilizing
the code discussed on this site or the code examples that are used for demonstration purposes.</p>

<p>The photographs on this site were either taken by me or are of me.  Any graphics used on the site
have the appropriate citations next to them or were created by my fiancee, Dyana Stewart.</p>

<p>Although I make no guarantees as to the validity of the code on this site I do strive to provide
high-quality, error-free material.  However, I am human and humans make mistakes.  If you find something
that is inconsistent or, even worse, incorrect please submit an issue to the <a href="https://github.com/cspray/cspray.github.com">github repository
hosting this site</a>.  All of the posts written for this blog can be found in the <code>/_posts/</code>
directory, please be sure to reference a link to the post needing changes when submitting your issue.</p>

<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">ramblings of a php enthusiast</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Charles Sprayberry</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://www.cspray.github.com/" rel="dct:source">www.cspray.github.com</a>.