<p>The thoughts and opinions on this blog are <b>my own</b> and not the opinions of any employer or 
organization.  In no way am I responsible for consequences that may occur as a result of utilizing
the code discussed on this site or the code examples that are used for demonstration purposes.</p>

<p>Although I make no guarantees as to the validity of the code on this site I do strive to provide
high-quality, error-free material.  However, I am human and humans make mistakes.  If you find something
that is inconsistent or, even worse, incorrect please submit an issue to the <a href="https://github.com/cspray/cspray.github.com">github repository
hosting this site</a>.  All of the posts written for this blog can be found in the <code>/_posts/</code>
directory, please be sure to reference a link to the post needing changes when submitting your issue.</p>