                	<div id="external-links">
                		<h3>external links</h3>
                		<ul class="navigation-menu vertical-list">
                			<li>
                				<a href="http://www.stackoverflow.com/">stackoverflow</a>
                			</li>
                			<li>
                				<a href="http://chat.stackoverflow.com/">chat.stackoverflow</a>
                			</li>
                			<li>
                				<a href="http://www.github.com/">github</a>
                			</li>
                			<li>
                				<a href="http://www.joelonsoftware.com/">Joel on Software</a>
                			</li>
                			<li>
                				<a href="http://www.codinghorror.com/blog/">Coding Horror</a>
                			</li>
                			<li>
                				<a href="http://blog.ircmaxell.com/">ircmaxell's blog</a>
                			</li>
                		</ul>
                	</div>