<div id="good-reads">
	<h3>good reads</h3>
	<ul class="navigation-menu vertical-list">
		<li>
			<a href="http://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882"><em>Clean Code</em></a> by Robert Martin
		</li>
		<li>
			<a href="http://www.amazon.com/PHP-Action-Objects-Design-Agility/dp/1932394753"><em>PHP In Action</em></a> by Dagfinn Reiersol, Marcus Baker, and Chris Shiflett
		</li>
		<li>
			<a href="http://steve-yegge.blogspot.com/2008/09/programmings-dirtiest-little-secret.html">"Programming's Dirtiest Little Secret"</a> by Steve Yegge
		</li>
	</ul>
</div>