                	<div id="post-navigation">
						<h3>posts</h3>
	                    <ul class="navigation-menu vertical-list">
	                    {% if site.posts.size == 0 %}
	                    	<li>There are no posts at this time.  Please check back later!</li>
	                    {% else %}
	    	                {% for post in site.posts %}
        	                <li>
        	                	<a class="post-link" href="{{ post.url }}"><div>
	            	                <p class="post-url">{{ post.title }}</p>
	            	                <p class="post-author">By: <strong>{{ post.author }}</strong>
    	            	            <p class="post-date"><em>Dated {{ post.date | date_to_string}} </em></p>
    	            	        </div></a>
                    	    </li>
		                    {% endfor %}
		                {% endif %}
	                	</ul>
	                </div>