                	<div>
	                    <ul class="navigation-menu vertical-list">
	                    {% if site.posts.size == 0 %}
	                    	<li>There are no posts at this time.  Please check back later!</li>
	                    {% else %}
	    	                {% for post in site.posts %}
        	                <li>
        	                	<a class="post-link" href="{{ post.url }}"><div>
	            	                <span class="post-url">{{ post.title }}</span>
    	            	        </div></a>
                    	    </li>
		                    {% endfor %}
		                {% endif %}
	                	</ul>
	                </div>