* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
	background-color: rgb(255, 255, 255);
	color: rgb(95, 95, 95);
	font-family: sans-serif;
	font-size: 1.15em;
}

h1 {
	margin-bottom: .25em;
	font-size: 2.1em;
	font-weight: 200;
}

a {
	color: rgb(149, 55, 63);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	height: .25em;
	background-color: #262525;
	margin-top: .5em;
	margin-bottom: .5em;
}

blockquote {
    padding: 5px;
    border-left: 5px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: .5em auto;
    width: 95%;
}

code {
    background-color: white;
    padding: 2px;
}

#content-container {
	padding: 1em;
	padding-bottom: 40px;
	overflow: auto;
}

#content-header {
	margin-bottom: 1em;
	overflow: auto;
}

#content-body {
	overflow: auto;
	clear: both;
}

#left-sidebar {
	width: 20%;
}

#main-content {
    float: left;
	width: 75%;
	padding: 5px;
}

#main-content h2 {
	margin-bottom: .75em;
	font-size: 1.95em;
	font-weight: 300;
}

#main-content h3 {
    border-bottom: 3px solid gray;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: .5em;
}

#main-content p {
	margin: 0 auto;
	width: 95%;
	margin-bottom: .75em;
	line-height: 1.38em;
	text-align: justify;
}

#main-content pre, #main-content ul {
    margin: .5em auto;
    width: 95%;
}

#post-navigation li, #external-links li {
	font-weight: 300;
}

#post-navigation li > a > div {
    padding: 5px;
    margin-bottom: .5em;
}

#post-navigation span {
    display: block;
}

#external-links {
	margin-bottom: .75em;
}

#external-links li {
	font-size: 1.25em;
	margin-bottom: .25em;
}

#comment-disclaimer h4 {
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#comment-disclaimer .comment-status {
    text-align: center;
    margin: 0 auto;
    font-size: 1.75em;
    border: 2px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}

#comment-disclaimer .comment-status-enabled {
    border-color: rgb(0, 255, 0);
    background-color: rgb(0, 255, 0);
}

#comment-disclaimer .comment-status-disabled {
    border-color: rgb(255, 0, 0);
    background-color: rgb(220, 0, 0);
    margin-bottom: 1em;
}

#comment-disclaimer .comment-jump-ad {
    font-size: 1em;
    margin-bottom: .75em;
    margin-bottom: 1em;
}

#disqus_thread {
    margin-top: 1em;
}

.navigation-menu {
	list-style: none;
}

.horizontal-list li {
	float: left;
	margin-left: .75em;
}

.vertical-list li {
	margin-bottom: .5em;
}

.byline {
	margin-left: 1em;
	font-size: .8em;
}

.post-url {
	margin-left: .5em;
	margin-bottom: .25em;
	font-size: 1.25em;
}

.post-author, .post-date, .post-wordcount {
	margin-left: 1.25em;
	font-size: .8em;
	text-decoration: none;
	color: rgb(95, 95, 95);
}

.post-link:hover {
    text-decoration: none;
}

.post-link > div {
    border: 2px solid rgb(149, 55, 63);
    border-radius: 10px;
    -moz-border-radius: 10px;
    width: 275px;
    height: 122px;
}

.post-link:hover > div {
    box-shadow: 5px 5px 2px #888;
}

.post-link:hover .post-url {
    text-decoration: underline;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.soft-margin-right {
	margin-right: .5em;
}

.soft-margin-left {
    margin-left: .5em;
}
