p {
  font-size: 100%;
  line-height: 140%;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-list-icon {
  list-style: none;
}

.soft-margin-right {
  margin-right: .5em;
}

.soft-margin-left {
  margin-left: .5em;
}

.not-found-sadface {
  font-size: 150px;
}

.not-found-text {
  font-size: 20px;
}

.tear {
  color: blue;
}

.profile-card {
  width: 320px
}

.profile-card--image {
  border-radius: 160px;
}

.profile-card--description {
  padding: .5em;
  font-size: 110%;
}


