<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Charles Sprayberry" />
        <meta name="description" content="A PHP 5.3 development blog, talking about OOP, design patterns and SprayFire, a PHP 5.3 framework." />
        <title>{{ page.title }} -- ramblings of a PHP enthusiast</title>
		<link href="/all.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="content-container">

            <div id="content-header">
            	<div class="float-left">
	                <h1><a href="http://cspray.github.com/">ramblings of a PHP enthusiast</a></h1>
    	            <span class="byline">web-development articles written by Charles Sprayberry</span>
    	    	</div>
            </div>

            <div id="content-body">
                <div id="left-sidebar" class="float-left">
                    {{ content }}
				    <div>
    					<ul class="navigation-menu vertical-list">
   	    	    			<li>
   		        			    <a href="http://github.com/cspray/SprayFire">
       		        				<img src="/img/sprayfire_logo_bar.png" width="155" height="58" alt="SprayFire PHP framework developed and created by Charles Sprayberry.  Logo drawn by Dyana Stewart." title="SprayFire PHP framework developed and created by Charles Sprayberry.  Logo drawn by Dyana Stewart." />
       		        			</a>
   	    			    	</li>

   	        				<li>
   	        				    <a href="http://stackexchange.com/users/387580">
			    				    <img src="http://stackexchange.com/users/flair/387580.png?theme=clean" width="208" height="58" alt="Charles Sprayberry's profile on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="Profile for Charles Sprayberry on Stack Exchange, a network of free, community-driven Q&amp;A sites">
				    			</a>
					    	</li>
       		    		</ul>
                    </div>
                </div>

                <div id="main-content-home">

                    {% include post-navigation-home.html %}

                </div>

            </div>

        </div>
    </body>
</html>
