<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="container-fluid">
      <div class="row">
        <section class="col-md-7">
          {{content}}
        </section>

        <aside class="col-md-5">
          <p>My name is Charles Sprayberry. I <a href="https://github.com/cspray">write software for the web</a>,
          <a href="https://designbook.com">help your startup raise money</a>, play video games, and train dogs.
          I have a beautiful wife named Dyana.</p>

          <p><a href="/about.html">Learn more about me.</a></p>

          <h3>Categories</h3>

          {% for category in site.categories %}
            <div>
              {% capture cat_name %}{{category | category_name}}{% endcapture %}
              <h4>{{cat_name}} <span class="badge">{{category | category_count}}</span></h4>
              {% category_post_list cat_name %}
            </div>
          {% endfor %}
        </aside>
      </div>
    </main>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28863236-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
  </body>
</html>
