<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
		<link href="/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="content-container">

            <div id="content-header">
            
            	<div class="float-left">
	                <h1><a href="http://cspray.github.com/">ramblings of a PHP enthusiast</a></h1>
    	            <span class="byline">web-development articles written by Charles Sprayberry</span>
    	    	</div>
    	    	
    	    	<div class="">
    	    		<ul class="navigation-menu horizontal-list">
    	    			<a href="http://github.com/cspray/SprayFire">
    	    			<li>
    	    				<img src="/img/sprayfire_logo.png" width="75" height="75" alt="SprayFire PHP framework developed and created by Charles Sprayberry.  Logo drawn by Dyana Stewart." title="SprayFire PHP framework developed and created by Charles Sprayberry.  Logo drawn by Dyana Stewart." />
    	    			</li>
    	    			</a>
    	    			<a href="https://twitter.com/#!/charlesspray">
    	    			<li>
    	    				<img src="/img/twitter_logo.png" width="75" height="75" alt="Check out Charles Sprayberry's Twitter profile!" title="Check out Charles Sprayberry's Twitter profile!" />
    	    			</li>
    	    			</a>
    	    			<a href="http://stackexchange.com/users/387580">
    	    			<li>
							<img src="http://stackexchange.com/users/flair/387580.png?theme=dark" width="269" height="75" alt="Charles Sprayberry's profile on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="Profile for Charles Sprayberry on Stack Exchange, a network of free, community-driven Q&amp;A sites">
						</li>
						</a>
    	    		</ul>
    	    	</div>
    	    	
            </div>

            <div id="content-body">

                <div id="left-sidebar" class="float-left">
                	<div id="post-navigation">
						<h3>posts</h3>
	                    <ul class="navigation-menu vertical-list">
    	                {% for post in site.posts %}
        	                <li>
        	                	<div>
	            	                <p class="post-url"><a href="{{ post.url }}">{{ post.title }}</a></p>
    	            	            <p class="post-date"><em>Posted on {{ post.date | date_to_long_string}} </em></p>
    	            	        </div>
                    	    </li>
	                    {% endfor %}
	                	</ul>
	                </div>
                </div>

                <div id="main-content" class="float-left">
	                {{ content }}
                </div>

            </div>

            <div id="content-footer">

            </div>
        
        </div>

    </body>
</html>
