<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Charles Sprayberry" />
        <meta name="description" content="A PHP 5.3 development blog, talking about OOP, design patterns and SprayFire, a PHP 5.3 framework." />
        <title>{{ page.title }} -- ramblings of a PHP enthusiast</title>
		<link href="/all.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="content-container">

            <div id="content-header">
            	<div class="float-left">
	                <h1><a href="/">ramblings of a PHP enthusiast</a></h1>
    	            <span class="byline">web-development articles written by Charles Sprayberry</span>
    	    	</div>
            </div>

            <div id="content-body">
                <div id="left-sidebar" class="float-left">
                    {% include post-navigation-posts.html %}
				    {% include badges.html %}
                </div>

                <div id="right-sidebar" class="float-right">
                    {% include comment-disclaimer.html %}
                </div>

                <div id="main-content-posts">
                    {{ content }}
	                {% if page.disqus_enabled == true %}
	                <hr />
	                <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        var disqus_shortname = "{{ page.disqus_shortname}}";
                        var disqus_identifier = "{{ page.disqus_identifier }}";
                        var disqus_url = "{{ page.disqus_url }}";
                        var disqus_title = "{{ page.title }}";

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	                {% endif %}
                </div>
            </div>

        </div>
    </body>
</html>
